@font-face {
  font-family: 'etminan';
  src:  url('../icon/etminan.eot?49l28i');
  src:  url('../icon/etminan.eot?49l28i#iefix') format('embedded-opentype'),
    url('../icon/etminan.ttf?49l28i') format('truetype'),
    url('../icon/etminan.woff?49l28i') format('woff'),
    url('../icon/etminan.svg?49l28i#etminan') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'etminan' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-done:before {
  content: "\e935";
}
.icon-share:before {
  content: "\e93f";
}
.icon-shopping-2:before {
  content: "\e900";
}
.icon-category-2:before {
  content: "\e901";
}
.icon-home-2:before {
  content: "\e902";
}
.icon-user-2:before {
  content: "\e903";
}
.icon-category:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-trash:before {
  content: "\e906";
}
.icon-like:before {
  content: "\e907";
}
.icon-Vector:before {
  content: "\e908";
}
.icon-zoom:before {
  content: "\e909";
  color: #6f6f6f;
}
.icon-check:before {
  content: "\e90a";
}
.icon-notification:before {
  content: "\e90b";
}
.icon-repeat:before {
  content: "\e90c";
}
.icon-shuffle:before {
  content: "\e90d";
}
.icon-arrow-down:before {
  content: "\e90e";
}
.icon-arrow-swap:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e910";
}
.icon-heart:before {
  content: "\e911";
}
.icon-logout:before {
  content: "\e912";
}
.icon-map:before {
  content: "\e913";
}
.icon-map-1:before {
  content: "\e914";
}
.icon-receipt:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e916";
}
.icon-shopping-cart:before {
  content: "\e917";
}
.icon-login:before {
  content: "\e918";
}
.icon-call:before {
  content: "\e928";
}
.icon-menu:before {
  content: "\e92a";
}
.icon-search-normal:before {
  content: "\e92b";
}
.icon-document-download:before {
  content: "\e919";
}
.icon-tick-circle:before {
  content: "\e91a";
}
.icon-arrow-left:before {
  content: "\e91b";
}
.icon-arrow-left-chevron:before {
  content: "\e91c";
}
.icon-arrow-left-circle:before {
  content: "\e91d";
}
.icon-arrow-right:before {
  content: "\e91e";
}
.icon-arrow-right-chevron:before {
  content: "\e91f";
}
.icon-book:before {
  content: "\e920";
}
.icon-calendar:before {
  content: "\e921";
}
.icon-linkedin-in:before {
  content: "\e922";
}
.icon-whatsapp:before {
  content: "\e923";
}
.icon-telegram:before {
  content: "\e924";
}
.icon-document-like:before {
  content: "\e925";
}
.icon-document-text:before {
  content: "\e926";
}
.icon-eye:before {
  content: "\e927";
}
.icon-folder:before {
  content: "\e929";
}
.icon-info-circle:before {
  content: "\e92c";
}
.icon-location:before {
  content: "\e92d";
}
.icon-message-edit:before {
  content: "\e92e";
}
.icon-messages:before {
  content: "\e92f";
}
.icon-mobile:before {
  content: "\e930";
}
.icon-monitor-mobbile:before {
  content: "\e931";
}
.icon-people:before {
  content: "\e932";
}
.icon-play:before {
  content: "\e933";
}
.icon-sms-edit:before {
  content: "\e934";
}
.icon-sms-notification:before {
  content: "\e936";
}
.icon-tag-user:before {
  content: "\e937";
}
.icon-task-square:before {
  content: "\e938";
}
.icon-teacher:before {
  content: "\e939";
}
.icon-tick-circle1:before {
  content: "\e93a";
}
.icon-call-calling:before {
  content: "\e93b";
}
.icon-youtube:before {
  content: "\e93c";
}
.icon-instagram:before {
  content: "\e93d";
}
.icon-global:before {
  content: "\e93e";
}
