* {
  &:focus,
  &:active {
    outline: none !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}
a {
  text-decoration: none;
  outline: none;
  color: $black;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  box-shadow: none;
  outline: none;
}
figure {
  margin-bottom: 0;
  display: inline-block;
}
ul {
  padding: 0;
  margin: 0;
}
