#home-slider {
  margin-bottom: 70px;
  margin-top: 24px;
  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      font-size: 16px;
      color: #fff;
    }
  }
}

.home-category {
  margin-bottom: 96px;
  .category-wrapper {
    @extend .flex-center;
    align-items: flex-end !important;
    flex-wrap: wrap;
    .category-item {
      text-align: center;
      display: inline-block;
      flex: 0 0 auto;
      width: 138px;
      margin-bottom: 24px;
      figure {
        margin-bottom: 16px;
      }
      .title {
        @include fontSize(13, 400, 13);
        color: #1e1e1e;
      }
    }
  }
}
